header,
header > *, main {
	width: fit-content;
	margin: auto;
}

body {
	background-color: #999;
}

header {
	background-color: #ccc;
}

header ul {
	list-style-type: none;
	display: flex;
}

header ul li {
	margin: 0 1em;
}

main {
	background-color: aliceblue;
	margin: 1em auto;
	padding: 1em;
}

#listeResto,
#maps {
	display: flex;
}

.titre_page {
	color: red;
}

.titre_restaurant {
	 color: black;	
}

img {
	width: 550px;
}

h2, p {
	text-align: center;
}

.restaurant:nth-child(2),
.maps_resto:nth-child(2) {
	margin: 0 1em;
}

#maps {
	overflow:hidden;
	width: 1680px;
 	position: relative;
}

#maps div {
    width: 550px;
}

footer {
	background-color: antiquewhite;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 300px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}

textarea{
	min-width: 165px;
	max-width: 165px;
}